/autom4te.cache/
/config.log
/config.status
/libtool
/Makefile
/config.guess~
/config.sub~
/configure~
/install-sh~
/cjose.pc
/include/cjose/version.h
.deps
.libs
.dirstamp
*.o
*.lo
*.a
*.la
/doc/Makefile
/doc/Doxyfile
/doc/*.tag
/doc/html
/doc/latex
/test/Makefile
/test/check_cjose
/test/*.log
/test/*.trs
/.project
/.cproject
/.settings
/cjose-*.tar.gz
/.autotools
